$theme-colors: ( "primary": #0074d9, "danger": #ff4136, "success": #5cb85c, "warning:": #f0ad4e);
:root {
    --primary: #0074d9;
    --danger: #ff4136;
    --success: #5cb85c;
    --warning: #f0ad4e;
}